.Pomodorito-Button--regular {
	background-color: #f90;
	color: #000;
}

.Pomodorito-Button--primary {
	background-color: #f00;
	color: #fff;
}

.Pomodorito-Button--medium {
	padding: 8px;
}

.Pomodorito-Button--small {
	padding: 4px;
}