.Pomodorito-PeriodLengthEditor {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (min-width: 600px) {
	.Pomodorito-PeriodLengthEditor {
		flex-direction: row;
	}
}

.Pomodorito-PeriodLengthEditor > * {
	margin: 4px;
}

.Pomodorito-PeriodLengthEditor__label {
	font-size: 1.4em;
}

.Pomodorito-PeriodLengthEditor__length {
	font-size: 1.4em;
}

.Pomodorito-PeriodLengthEditor__buttons {
	display: flex;
	flex-direction: row;
}

.Pomodorito-PeriodLengthEditor__buttons > * {
	margin: 4px;
}