.Pomodorito-PomodoritoTimer {
	display: flex;
	flex-direction: column;
	align-items: center;

	color: #f90;
	text-align: center;
	text-shadow: 0 0 2px rgba(0,0,0,0.3);
}

.Pomodorito-PomodoritoTimer__time-label {
	font-size: 32px;
}

.Pomodorito-PomodoritoTimer__time-left {
	font-size: 64px;
}

.Pomodorito-PomodoritoTimer__buttons {
	display: flex;
	flex-direction: row;
}

.Pomodorito-PomodoritoTimer__buttons > * {
	margin: 4px;
}