/*
Nunito font
https://github.com/vernnobile/NunitoFont
© 2014 Vernon Adams (vern@newtypography.co.uk).
Released under the SIL Open Font License, Version 1.1. See nunito-license.txt
*/
@font-face {
	font-family: 'Nunito';
	src:
		local('Nunito'),
		local('Nunito-Regular'),
		url('./assets/fonts/Nunito-Regular.ttf') format('opentype');
}

@font-face {
	font-family: 'Nunito';
	font-weight: 700;
	src:
		local('Nunito-Bold'),
		url('./assets/fonts/Nunito-Bold.ttf') format('opentype');
}

.ZebPomodoritoApp {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	margin: 0;
	color: #f90;
	font-family: 'Nunito', sans-serif;
}

.ZebPomodoritoApp * {
	box-sizing: border-box;
}

.ZebPomodoritoApp a {
	color: inherit;
}

.ZebPomodoritoApp a:hover {
	color: #fd1;
}

.ZebPomodoritoApp button {
	display: flex;
	position: relative; /* For positioning of ::after pseudo-element. */

	border: none;
	border-radius: 4px;
	box-shadow:
		inset 0 1px 1px rgba(255,255,255,0.3),
		0 0 2px rgba(0,0,0,0.3);
	
	font-size: 16px;
	font-weight: 500;
}

.ZebPomodoritoApp button:focus {
	outline: none; /* Remove Chromium default focus outline. */
}

.ZebPomodoritoApp button:hover,
.ZebPomodoritoApp button:active {
	background-color: #fd1;
}

.ZebPomodoritoApp button:hover {
	box-shadow:
		inset 0 1px 1px rgba(255,255,255,0.3),
		0 0 8px rgba(0,0,0,0.3);
}

.ZebPomodoritoApp button:active {
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.3);
	transform: translateY(1px);
}

.ZebPomodoritoApp button::-moz-focus-inner {
	border: none; /* Remove default Firefox focus border. */
}

/* Inspired by https://stackoverflow.com/questions/5394116/outline-radius/11426967#11426967 */
.ZebPomodoritoApp button:focus::after {
	content: '';
	position: absolute;
	top: -4px;
	bottom: -4px;
	left: -4px;
	right: -4px;

	border: 2px solid #fd1;
	border-radius: 4px;

}